---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Harshit's Portfolio">
  <div class="p-5">
    <div>
      <h1 class="text-5xl font-bold">Hello! I'm Harshit.</h1>
      <p class="py-6 text-3xl">
        I am currently pursuing a Bachelor of Computer Applications degree.
        Although I enjoy developing websites, my primary areas of interest are <b
          >backend</b
        > and <b>CLI</b> apps.
      </p>
    </div>
  </div>

  <div class="card m-10 bg-base-300">
    <div class="card-body">
      <h2 class="card-title">Looking for something specific?</h2>
      <ul class="list-disc ml-5">
        <li>
          Looking for my resume? <a
            class="link link-primary"
            href="/resume">Check it out</a
          >.
        </li>
        <li>
          Find my repository, which cannot be considered a project at my <a
            class="link link-info"
            href="https://github.com/HellCat46">Github</a
          > and <a class="link link-info" href="https://gitlab.com/HellCat46"
            >Gitlab</a
          >.
        </li>
        <li>
          Would you like to get in touch? Feel free to <a
            class="link link-accent"
            href="mailto:mittalharshit094@gmail.com">Mail me</a
          >.
        </li>
      </ul>
    </div>
  </div>
</Layout>
