---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Status | Harshit" description="Status Page for Harshit's Apps and Projects">
    <p class="m-5 text-center">Nothing to see here...</p>
</Layout>
