---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Uses | Harshit">
  <div class="m-5">
    <div class="collapse collapse-arrow bg-base-200 my-3">
      <input type="radio" name="my-accordion-2" checked="checked" />
      <div class="collapse-title text-xl font-medium">Languages</div>
      <div class="collapse-content bg-base-300">
        <ul class="list-disc m-5">
            <li>C/C++</li>
            <li>C#</li>
            <li>Rust</li>
            <li>Typescript/Javascript</li>
        </ul>
    </div>
    </div>
    <div class="collapse collapse-arrow bg-base-200 my-3">
      <input type="radio" name="my-accordion-2" />
      <div class="collapse-title text-xl font-medium">Databases</div>
      <div class="collapse-content bg-base-300">
        <ul class="list-disc m-5">
            <li>MySQL</li>
            <li>MSSQL</li>
            <li>PostgreSQL</li>
        </ul>
      </div>
    </div>
    <div class="collapse collapse-arrow bg-base-200 my-3">
      <input type="radio" name="my-accordion-2" />
      <div class="collapse-title text-xl font-medium">Cloud</div>
      <div class="collapse-content bg-base-300">
        <ul class="list-disc m-5">
            <li>Azure</li>
            <li>Docker</li>
        </ul>
      </div>
    </div>
    <div class="collapse collapse-arrow bg-base-200 my-3">
      <input type="radio" name="my-accordion-2" />
      <div class="collapse-title text-xl font-medium">Other Technologies</div>
      <div class="collapse-content bg-base-300">
        <ul class="list-disc m-5">
            <li>Arch Linux (as Daily Driver)</li> <!-- Yeah, I use Arch btw ;)  -->
            <li>Ubuntu</li>
        </ul>
      </div>
    </div>
  </div>
</Layout>
