---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Uses">
    <!-- I use Arch btw -->
    <div class=" mx-5 mockup-code">
        <pre data-prefix="~"><code>neofetch</code></pre>
        <pre><code>
                   -`                    hellcat@arch
                  .o+`                   ------------
                 `ooo/                   OS: Arch Linux x86_64
                `+oooo:                  Host: HP ZBook 15 G2
               `+oooooo:                 Kernel: 6.6.2-arch1-1
               -+oooooo+:                Uptime: 3 days, 19 hours, 25 mins
             `/:-:++oooo+:               Packages: 877 (pacman)
            `/++++/+++++++:              Shell: zsh 5.9
           `/++++++++++++++:             Resolution: 1920x1080
          `/+++ooooooooooooo/`           WM: i3
         ./ooosssso++osssssso+`          Theme: Catppuccin-Mocha-Dark [GTK2/3]
        .oossssso-````/ossssss+`         Icons: ePapirus-Dark [GTK2/3]
       -osssssso.      :ssssssso.        Terminal: alacritty
      :osssssss/        osssso+++.       CPU: Intel i7-4810MQ (8) @ 3.800GHz
     /ossssssss/        +ssssooo/-       GPU: Intel 4th Gen Core Processor
   `/ossssso+/:-        -:/+osssso+-     GPU: NVIDIA Quadro K1100M
  `+sso+:-`                 `.-/+oso:    Memory: 3761MiB / 7855MiB
 `++:.                           `-/+/
 .`                                 `/
        </code></pre>
    </div>
    <!-- Replace it with Proper TUI later -->
</Layout>